

<body>
   
    <div class="container">

        <div id="searchbarhome">
            <input type="text" name="pesquisar" placeholder="Pesquisar">
            <span class="icon"><mat-icon aria-hidden="false" fontIcon="search"></mat-icon></span>
        </div>
     
        <div class="content-test">
            <div>
                <img src="assets/Images/bg.png" >

            </div>
            <div>
                <img src="assets/Images/bg2.png" >

            </div>

        </div>


    </div>
            
     
  
        
        <!-- Tentar estilizar o form despois  -->

        <!-- <mat-form-field class="search-form-field" appearance="blank">
             <mat-label>Clearable input</mat-label> 
            <input matInput type="text" [(ngModel)]="search">
            <button  matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field> -->





    
</body>
