mat-typography {
    background-color: #262626;

}


.cardCadastro {
    margin-top: .5rem;
    width: 50%;
}

#botaocadastrar {
    margin-left: 10px;
}

.inputGameCadastro input {
    padding: .5rem;
}